
<div class="todo flex justify-around flex-wrap mt-14">
  <div class="card border-2 border-red-400 rounded-lg bg-white p-3 w-96 h-72 shadow-lg m-2">
    <div class="pb-3">
      <div class="flex justify-center">
        <img src="/assets/shield.png" alt="" />
      </div>

      <p class="flex justify-center font-bold text-base mt-3">Seguridad</p>
    </div>

    <div class="message  text-gray-500 ">
     
      Rent Car Núñez prioriza la seguridad de sus clientes, asegurándose de que los vehículos 
      cumplan con los estándares de seguridad y 
      realizando inspecciones y mantenimiento 
      regularmente.
    </div>
  </div>


  <div class="card border-2 border-red-400 rounded-lg bg-white p-3 w-96 h-72 shadow-lg m-2">
    <div class="">
      <div class="flex justify-center">
        <img src="/assets/flexible.png" alt="" />
      </div>

      <p class="flex justify-center font-bold text-base mt-1.5">Flexibilidad</p>
    </div>

    <div class="message mt-4 text-gray-500">
      Rent Car Núñez se esfuerza por ofrecer opciones y servicios flexibles para que los clientes puedan adaptar su alquiler de acuerdo con sus necesidades, como diferentes duraciones de alquiler, opciones de recogida y devolución, y servicios adicionales.


     
    </div>
  </div>

  <div class="card border-2 border-red-400 rounded-lg bg-white p-3 w-96 h-72 shadow-lg m-2">
    <div class="">
      <div class="flex justify-center">
        <img src="/assets/apreton-de-manos.png" alt="" />
      </div>

      <p class="flex justify-center font-bold text-base">Excelencia</p>
    </div>

    <div class="message mt-4 text-gray-500">
    Rent Car Núñez se esfuerza por brindar un servicio excepcional a sus clientes, satisfaciendo sus necesidades y superando sus expectativas en términos de atención, asistencia y experiencia general.
    </div>
  </div>
</div>
