
<div class="todo flex justify-around mt-14 ">

  <div class="card  border-2 border-red-400 rounded-lg bg-white p-3 w-96 h-72 shadow-lg">
    <div class="">
      <div class="flex justify-center">
        <img src="/assets/apreton-de-manos.png" alt="" />
      </div>

      <p class="flex justify-center font-bold text-base">New message!</p>
    </div>

    <div class="message mt-4 text-gray-500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea quo unde
      vel adipisci blanditiis voluptates eum. Nam,r dicta reiciendis id maxime, unde autem quod laboriosam?
    </div>
  </div>


  <div class="card  border-2 border-red-400 rounded-lg bg-white p-3 w-96 h-72 shadow-lg">
    <div class="">
      <div class="flex justify-center">
        <img src="/assets/apreton-de-manos.png" alt="" />
      </div>

      <p class="flex justify-center font-bold text-base">New message!</p>
    </div>

    <div class="message mt-4 text-gray-500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea quo unde
      vel adipisci blanditiis voluptates eum. Nam,r dicta reiciendis id maxime, unde autem quod laboriosam?
    </div>
  </div>

  <div class="card  border-2 border-red-400 rounded-lg bg-white p-3 w-96 h-72 shadow-lg">
    <div class="">
      <div class="flex justify-center">
        <img src="/assets/apreton-de-manos.png" alt="" />
      </div>

      <p class="flex justify-center font-bold text-base">New message!</p>
    </div>

    <div class="message mt-4 text-gray-500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea quo unde
      vel adipisci blanditiis voluptates eum. Nam,r dicta reiciendis id maxime, unde autem quod laboriosam?
    </div>
  </div>
</div>
