<div class="footer bg-gray-800 text-white mt-6">
    <div class="footer-content container mx-auto py-4">
      <h3 class="text-xl font-bold">Nuñez</h3>
      <p class=" mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem esse eligendi consequatur ducimus quam sapiente, laboriosam alias minima ipsam odit quo vitae ab rerum harum quae a velit sed nisi?.</p>
      <ul class="socials flex justify-center gap-4 mt-4">
        <li><a ><i class="fab fa-facebook"></i></a></li>
        <li><a ><i class="fab fa-twitter"></i></a></li>
        <li><a ><i class="fab fa-google-plus-g"></i></a></li>
        <li><a ><i class="fab fa-youtube"></i></a></li>
        <li><a ><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;{{anoActual}} <a >Wandy</a>  </p>
        
    </div>
     
  </div>
  