<div
class="tod rounded-t-lg w-60 h-60 box-border text-center shadow-sm text-gray-500 p-6 pb-1 pl-6 pr-6"
>
    <h2 class="font-medium text-2xl mb-4">Solicitud de Devolución</h2>
    <div class="flex justify-end">
        <button
      type="button"
      class="p-2.5  ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      data-toggle="modal"
      data-target="#modalCliente"
      title="Buscar Alquiler"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        ></path>
      </svg>
    </button>
    </div>
    <div>
        <label 
        for="nombre_cliente"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
        >Nombre del cliente:</label
        >
        <input 
        disabled=""
        type="text" 
        id="nombre_cli" 
        name="nombre_cli"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
        placeholder="Nombre Cliente"
        [(ngModel)]="nombreCliente" 
        required>
    </div>
        <label for="numero_reserva">Número de reserva:</label>
        <input type="text" id="numero_reserva" name="numero_reserva" [(ngModel)]="numeroReserva" required>
      
        <label for="fecha_devolucion">Fecha y hora de devolución:</label>
        <input type="datetime-local" id="fecha_devolucion" name="fecha_devolucion" [(ngModel)]="fechaDevolucion" required>
      
        <label for="kilometraje_actual">Kilometraje actual:</label>
        <input type="number" id="kilometraje_actual" name="kilometraje_actual" [(ngModel)]="kilometrajeActual" required>
      
        <label for="estado_vehiculo">Estado del vehículo:</label>
        <textarea id="estado_vehiculo" name="estado_vehiculo" [(ngModel)]="estadoVehiculo" required></textarea>
      
        <label for="nivel_combustible">Nivel de combustible:</label>
        <input type="text" id="nivel_combustible" name="nivel_combustible" [(ngModel)]="nivelCombustible" required>
      
        <label for="comentarios">Comentarios adicionales:</label>
        <textarea id="comentarios" name="comentarios" [(ngModel)]="comentarios"></textarea>
      
        <button type="submit">Enviar</button>  
</div>
