.tod {
  margin: 0 auto;
  width: auto;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  background: transparent;
  padding: 2rem;
  margin: 1.5rem
}

.hidden {
  display: none;
}


img {
  width: 17px;
  height: 17px;
}

.btnn {
  background-color: transparent;
  border: none;
}

.btnn button:hover {
  color: red;
}

.tableta a {
  cursor: pointer;
}


.todo {

  margin-top: 7.5rem;
  margin-right: 5rem;

}

@media (min-width: 600px) {
  .todo {
    margin-left: 3rem;
    margin-right: 4rem;

  }
}

th {
  cursor: pointer;
}

td {
  cursor: pointer;
}



#sele {
  padding: 0.625rem;
  margin-bottom: 2.2rem;
  --tw-text-opacity: 1;
  color: rgb(17 24 39/var(--tw-text-opacity));
}