
<div class="todo">
  <img src="/assets/logo.png" alt="" class="flex justify-start ml-12 w-28 h-28 cursor-pointer" routerLink="/home" />
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" routerLink="/carroC">Rentar</a>
            <a class="nav-link" routerLink="/carroC">Devolucion de autos</a>
          </nav>
        </div>
      </header>
      <main role="main" class="inner cover">
        <h1 class="cover-heading">Rent Cars Nuñez</h1>
        <p class="lead">Nuestros Carros son lo mejor en calidad precio en el mercado que esperas para rentarlos!</p>
        <p class="lead">
          <a class="fancy" routerLink="/carroC">
  <span class="top-key"></span>
  <span class="text">Ver Autos</span>
  <span class="bottom-key-1"></span>
  <span class="bottom-key-2"></span>
</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
        </div>
      </footer>
    </div>
</div>




