
.btn-secondary
 {
  color: #000000;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
  transition: 0.4s;
  position: relative;
  text-transform: uppercase;

}
.btn-secondary:hover{

  border-color: rgb(0, 0, 0);
  transform: scaley(1.1);
  margin-right: 30px;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);

}


.cover-heading{
font-size: xx-large;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin: 20px;
}

:root{
  --my-opacity:0.9;
}

.todo {

  height: 100%;
  background-image:url(/assets/slider5.webp) !important;
  background-position: center top 10%;
  height: 500px;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5)
}

.cover-container {
  max-width: 50em;
}


.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgb(255, 255, 255);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

@media (min-width: 70rem) {
  .nav-masthead {
    margin-left: 30rem;
  }
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.masthead-brand{
  color: #000000;


}

.lead{
  font-family: 'Poppins', sans-serif;
margin-bottom: 10px;
}

.fancy {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
 }

 .fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
 }

 .fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
 }

 .fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease-out, left 0.3s ease-out;
 }

 .fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }

 .fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }

 .fancy:hover {
  color: white;
  background: black;
 }

 .fancy:hover::before {
  width: 0.9375rem;
  background: white;
 }

 .fancy:hover .text {
  color: white;
  padding-left: 1.5em;
 }

 .fancy:hover .top-key {
  left: -2px;
  width: 0px;
 }

 .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
 }

 .fancy{
  margin: 0 auto;
 }
