<app-slider></app-slider>


<app-sobre-nosotros></app-sobre-nosotros>
<h2 id="texto">Tipos de carros</h2>
<div class="carta border-2 border-red-100">
    <div class="card-container">
        <div class="card" *ngFor="let items of list">
            <div class="card-body">
                <div class="photos">
                    <img src={{items.imagen}} alt="" [routerLink]="['/tipo', {data:items.ruta}]" class="image">
                </div>
                <h3 class="title">{{items.nombre}}</h3>
            </div>
        </div>
    </div>
</div>

