<div class="todo">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link " routerLink="/dashboard/rentar" >Dashboard</a>
          <a class="nav-link" routerLink="/carro">Carros</a>
          <a class="nav-link" routerLink="/carroC">Consulta Carro</a>
        </nav>
      </div>
    </header>
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Rent Cars Nuñez</h1>
      <p class="lead">Nuestros Carros son lo mejor en calidad precio en el mercado que esperas para rentarlos!</p>
      <p class="lead">
        <a routerLink="/carroC" class="btn btn-lg btn-secondary">Ver Carros</a>
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
      </div>
    </footer>
  </div>
</div>



