 <div class="todo">
    <div class="p-4 sm:ml-64">
      <div
        class="max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <div class="relative overflow-x-auto">
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="px-6 py-3 text-center">Id</th>
                <th scope="col" class="px-6 py-3 text-center">Usuario</th>
                <th scope="col" class="px-6 py-3 text-center">Fecha</th>
                <th scope="col" class="px-6 py-3 text-center">IdCliente</th>
                <th scope="col" class="px-6 py-3 text-center">Nombre</th>
                <th scope="col" class="px-6 py-3 text-center">Idvehiculo</th>
                <th scope="col" class="px-6 py-3 text-center">Costo/Día</th>
                <th scope="col" class="px-6 py-3 text-center">Inicia</th>
                <th scope="col" class="px-6 py-3 text-center">Termina</th>
                <th scope="col" class="px-6 py-3 text-center">Total/Días</th>
                <th scope="col" class="px-6 py-3 text-center">Ganancia Total</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                *ngFor="let txt of alquileres">
                
                <th class="text-center"
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  {{ txt.idalquiler }}
                </th>
                
                <td class="text-center">
                  {{ txt.usuario }}
                </td>

                <td class="text-center">
                  {{ txt.fecha }}
                </td>

                <td class="text-center">
                  {{ txt.idcliente }}
                </td>

                <td class="text-center">
                  {{ txt.nombrecliente }}
                </td>
  
                <td class="text-center">
                  {{ txt.idvehiculo }}
                </td>
  
                <td class="text-center">
                  {{ txt.precio }}
                </td>
  
                <td class="text-center">
                  {{ txt.fechaini }}
                </td>
  
                <td class="text-center">
                  {{ txt.fechafin}}
                </td>
  
                <td class="text-center">
                    {{ txt.dias }}
                </td>
  
                <td class="text-center">
                  {{ txt.total }}
                </td>
              
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> 