<div class="contenedor">
  <div class=" blog-card" *ngFor="let item of lista">
    <div class="meta">
      <div class="photo" style="background-image: url(/assets/crv\ 2021.jpg)"></div>
    </div>
    <div class="description">
      <h1>{{ item.marca + ' ' + item.modelo }}</h1>
      <h2>{{ item.ano }} </h2>
      <p>
        {{ getDescripcionTipo(item.tipo) }} <br>
        <i class="fas fa-users"></i> {{ item.asiento }} Personas <br>
        <i class="fas fa-spray-can"></i> {{ item.color }} <br>
        <i class="fas fa-gas-pump"></i> {{ item.combustible }} <br> <br>
      </p>
      <p class="read-more">
     <a >Ver</a>

      </p>
      <div class="price"> <span class="dinero"><i class="fas fa-dollar-sign"></i> {{item.precio}}/Day</span> </div>
    </div>
  </div>
</div>