.tod {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    padding: 3rem;
    margin: 7.5rem 1.5rem 1.5rem 26rem;
    box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.5);
  }
  
  @media (max-width: 768px) {
    .tod {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 480px) {
    .tod {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

#descripcion{
    width: 100%;
}


.tit {
    margin-bottom: 1.5rem;
    font-size:xx-large ;
    font-weight:700 ;
    
}
