.tod {
  margin: 0 auto;
  width: auto;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  background: transparent;
  padding: 2rem;
  margin: 1.5rem;
}

.option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tit {
  margin-bottom: 1.5rem;
}

.año {
  width: 10rem;
  margin-right: 5px;
  padding-top: 1rem;
}

.tipo {
  padding-right: 10px;
  padding-left: 3px;
  padding-top: 1rem;
}

.capacidad {
  width: 11rem;
  padding-right: 8px;
  padding-left: 9px;
  padding-top: 1rem;
}

.combustible {
  width: 11rem;
  padding-right: 18px;
  padding-top: 1rem;
}

.todo {
  margin-top: 7.5rem;
  margin-right: 1.5rem;
}

@media (min-width: 600px) {
  .todo {
    margin-left: 3rem;
    margin-right: 4rem;
  }
}

th {
  cursor: pointer;
}

td {
  cursor: pointer;
}

.up {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sele {
  padding: 0.625rem;
  margin-bottom: 2.2rem;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
