<div class="todo">
  <div class="p-4 sm:ml-64">
    <div
      class="max-w-3xl p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <h2 class="font-bold text-2xl text-center">Listado de vehiculos</h2>

      <div class="flex flex-row items-center justify-between">
        <button
          type="button"
          id="boton"
          class="my-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Agregar
        </button>

        <div class="space-x-2 flex justify-end">
          <div class="relative">
            <button
              class="text-white bg-black hover:bg-gray-800 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mr-8"
              type="button"
              (click)="despliega()"

            >
              Filtrar
              <svg
                class="w-4 h-4 ml-2"
                aria-hidden="true"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
            </button>

            <ul
              class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 absolute top-10 right-0 mt-2"
              *ngIf="sele"
            >
              <li>
                <button
                  (click)="llenarTabla()"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white w-full text-center text-sm"
                  (click)="despliega()"
                >
                  Todos
                </button>
              </li>
              <li>
                <button
                  (click)="bajo()"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white w-full text-center text-sm"
                  (click)="despliega()"
                >
                  Menor de 50
                </button>
              </li>
              <li>
                <button
                  (click)="medio()"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white w-full text-center text-sm"
                  (click)="despliega()"
                >
                  entre 50 y 60
                </button>
              </li>
              <li>
                <button
                  (click)="mayor()"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white w-full text-center text-sm"
                  (click)="despliega()"
                >
                  Mayor de 60
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="flex justify-start text-xl font-medium absolute">
          {{ filtroDes }}
        </div>
      </div>
      <div class="relative overflow-x-auto">
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3 text-center">Id</th>
              <th scope="col" class="px-6 py-3 text-center">Marca</th>
              <th scope="col" class="px-6 py-3 text-center">Modelo</th>
              <th scope="col" class="px-6 py-3 text-center">Imagen</th>
              <th scope="col" class="px-6 py-3 text-center">Precio</th>
              <th scope="col" class="px-6 py-3 text-center">Color</th>
              <th scope="col" class="px-6 py-3 text-center">Capacidad</th>
              <th scope="col" class="px-6 py-3 text-center">Año</th>
              <th scope="col" class="px-6 py-3 text-center">Placa</th>
              <th scope="col" class="px-6 py-3 text-center">Tipo</th>
              <th scope="col" class="px-6 py-3 text-center">Combustile</th>
              <th scope="col" class="px-6 py-3 text-center">Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
              *ngFor="let txt of cambioPrecio"
            >
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center"
              >
                <button
                  (click)="seleccionarTxt(txt)"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  {{ txt.idvehiculo }}
                </button>
              </th>
              <td class="px-6 py-4 text-center">
                <button
                  (click)="seleccionarTxt(txt)"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  {{ txt.marca }}
                </button>
              </td>
              <td class="px-6 py-4 text-center">
                <button
                  (click)="seleccionarTxt(txt)"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  {{ txt.modelo }}
                </button>
              </td>

              <td class="px-6 py-4 text-center">
                <button
                  (click)="seleccionarTxt(txt)"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  <img
                  src=     "/assets/{{ txt.imagen }}" alt="">
                </button>
              </td>


              <td class="px-6 py-4 text-center">
                <button
                  (click)="seleccionarTxt(txt)"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  {{ txt.precio }}
                </button>
              </td>

              <td class="px-6 py-4 text-center">
                <button
                  (click)="seleccionarTxt(txt)"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  {{ txt.color }}
                </button>
              </td>

              <td class="px-6 py-4 text-center">
                <button
                  (click)="seleccionarTxt(txt)"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  {{ txt.asiento }}
                </button>
              </td>

              <td class="px-6 py-4 text-center">
                <button
                  (click)="seleccionarTxt(txt)"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  {{ txt.ano }}
                </button>
              </td>

              <td class="px-6 py-4 text-center">
                <button
                  (click)="seleccionarTxt(txt)"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  {{ txt.placa }}
                </button>
              </td>

              <td class="px-6 py-4 text-center">
                <button
                  (click)="seleccionarTxt(txt)"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  {{ getDescripcionTipo(txt.tipo) }}
                </button>
              </td>

              <td class="px-6 py-4 text-center">
                <button
                  (click)="seleccionarTxt(txt)"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  {{ txt.combustible }}
                </button>
              </td>

              <td
                class="px-6 py-4 text-center"
                (click)="seleccionarTxt(txt)"
                data-toggle="modal"
                data-target="#exampleModalCenter"
              >
                <span
                  class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300 text-center"
                  *ngIf="txt.estado === 1"
                  >Activo</span
                >
                <span
                  class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300 text-center"
                  *ngIf="txt.estado === 0"
                  >Inactivo</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal  funciona-->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">
          Registro Vehiculos
        </h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="tod">
          <div class="tit">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label
                  for="Id"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
                  >ID</label
                >
                <input
                  id="Id"
                  name="Id"
                  type="number"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="id"
                  (keyup.enter)="idCompletar(idtxt)"
                  [(ngModel)]="idtxt"
                />
              </div>

              <div>
                <label
                  for="marca"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
                  >Marca</label
                >
                <input
                  id="marca"
                  name="marca"
                  type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="marca"
                  [(ngModel)]="marcatxt"
                  (ngModelChange)="marcatxt = capitalize($event)"
                />
              </div>
            </div>

            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label
                  for="modelo"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
                  >Modelo</label
                >
                <input
                  id="modelo"
                  name="modelo"
                  type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Modelo"
                  [(ngModel)]="modelotxt"
                  (ngModelChange)="modelotxt = capitalize($event)"
                />
              </div>

              <div>
                <label
                  for="color"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
                  >Color</label
                >
                <input
                  id="color"
                  name="color"
                  type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="color"
                  [(ngModel)]="colortxt"
                  (ngModelChange)="colortxt = capitalize($event)"
                />
              </div>
            </div>

            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label
                  for="placa"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
                  >Placa</label
                >
                <input
                  id="placa"
                  name="placa"
                  type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Modelo"
                  [(ngModel)]="placatxt"
                  (ngModelChange)="placatxt = capitalize($event)"
                />
              </div>

              <div>
                <label
                  for="precio"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
                  >Precio</label
                >
                <input
                  id="precio"
                  name="precio"
                  type="number"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Modelo"
                  [(ngModel)]="preciotxt"
                />
              </div>
            </div>

            <div class="sele">
              <div class="grid gap-6 mb-6 md:grid-cols-2">
                <select
                  name="ano"
                  class="form-select"
                  aria-label="Default select example"
                  [(ngModel)]="numbertxt"
                >
                  <option class="litle" value="0" disabled selected>
                    <b>Año:</b>
                  </option>
                  <option *ngFor="let year of years" [value]="year">
                    {{ year }}
                  </option>
                </select>

                <select
                  name="tipo"
                  class="form-select"
                  aria-label="Default select example"
                  [(ngModel)]="idtipotxt"
                >
                  <option class="litle" value="0" disabled selected>
                    <b>Tipos:</b>
                  </option>
                  <option
                    *ngFor="let item of tipoVehiculos"
                    [value]="item.idtipo"
                  >
                    {{ item.tipo }}
                  </option>
                </select>
              </div>

              <div class="grid gap-6 mb-6 md:grid-cols-2">
                <select
                  name="capacidad"
                  class="form-select"
                  aria-label="Default select example"
                  [(ngModel)]="asientostxt"
                >
                  <option class="litle" value="0" disabled selected>
                    <b>Capacidad:</b>
                  </option>
                  <option value="2">2 Personas</option>
                  <option value="4">4 Personas</option>
                  <option value="5">5 Personas</option>
                </select>

                <select
                  name="combustible"
                  class="form-select"
                  aria-label="Default select example"
                  [(ngModel)]="combustibletxt"
                >
                  <option class="litle" value="0" disabled selected>
                    <b> Combustible:</b>
                  </option>
                  <option value="Gasolina">Gasolina</option>
                  <option value="Gasoil">Gasoil</option>
                  <option value="Gas">Gas</option>
                  <option value="Electrico">Electrico</option>
                </select>
              </div>
              <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div class="sele2">
                  <select
                    name="estado"
                    class="form-select"
                    aria-label="Default select example"
                    [(ngModel)]="estadotxt"
                  >
                    <option class="litle" value="0" disabled selected>
                      <b>Estado:</b>
                    </option>
                    <option value="1">Activo</option>
                    <option value="0">inactivo</option>
                  </select>
                </div>

                <div>
                  <input
                  class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                  id="file_input"
                  name="file_input"
                  type="file"
                  accept="image/*"
                  title="Cargar imagen"
                  #file_input

                  />
                </div>
              </div>
            </div>
          </div>
          <div class="up">
            <button
              type="button"
              class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
              (click)="limpiar()"
            >
              Limpiar
            </button>

            <button
              type="button"
              class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
              (click)="guardarVehiculos()"
            >
              <i class="far fa-save"></i> Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
