<div class="tod">
    <div class="tit"><h2>Registro Clientes</h2></div>
    <div form-floating mb-2  class="inp">
       <input type="text" placeholder="Nombres:" class="form-control" id="floatingInput"/>  <br>  <input type="text" placeholder="Apellidos:" class="form-control" id="floatingInput"/> <br>
      <input type="text" placeholder=" Telefono:"   class="form-control" id="floatingInput"/> <br> <input type="text" placeholder=" Cedula:" class="form-control" id="floatingInput"/>  <br>
      <input type="text" placeholder=" Vehiculo rentado:" class="form-control" id="floatingInput"/> 
    </div>
    <br>
    <button type="button" class="btn btn-outline-primary">Insertar</button>
  
</div>
